@CHARSET "UTF-8";

div div.news-columns1, 
div div.news-columns2, 
div div.news-columns3, 
div div.news-columns4 {
	overflow: hidden;
	box-sizing: border-box;
}

div div.news-columns2, 
div div.news-columns3, 
div div.news-columns4 {
	padding-right: 5px;
	float: left;
}

div div.news-columns1 {
	max: 100%;
	max-width: 100%;
	clear: both;
}

div div.news-columns2 {
	width: 49%;
	max-width: 49%;
}

div div.news-columns3 {
	width: 33%;
	max-width: 33%;
}

div div.news-columns4 {
	width: 24%;
	max-width: 24%;
}

div.newsflash-multicolumn-clearfix {
	*zoom: 1;
}

div.newsflash-multicolumn-clearfix:before, div.newsflash-multicolumn-clearfix:after
	{
	display: table;
	content: "";
	line-height: 0;
}

div.newsflash-multicolumn-clearfix:after {
	clear: both;
}